<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="Sample" type="AppConfigConfigSectionSampleProject.Configuration.SampleConfiguration, AppConfigConfigSectionSampleProject"/>
  </configSections>
  <Sample>
    <Group>
      <add Name="G1" Value="A">
        <InnerSingleBlock Value="G1ISB1" />
        <InnerAnotherBlock SomeValue="G1IAB1" />
        <AnotherGroup>
          <add Name="G1AG1" Value="G1AG1a" />
          <add Name="G1AG2" Value="G1AG2a" />
          <add Name="G1AG3" Value="G1AG3a" />
        </AnotherGroup>
      </add>
      <add Name="G2" Value="B">
        <InnerSingleBlock Value="G2ISB1" />
        <InnerAnotherBlock SomeValue="G2IAB1" />
        <AnotherGroup>
          <add Name="G2AG1" Value="G2AG1a" />
          <add Name="G2AG2" Value="G2AG2a" />
          <add Name="G2AG3" Value="G2AG3a" />
        </AnotherGroup>
      </add>
    </Group>
    <SingleBlock Datafield="Test 1" />
  </Sample>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>